.contacts {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-size: 3.4rem;
  text-align: center;
  margin-top: 50px;
}

.subtitle {
  display: flex;
  max-width: 300px;
  font-size: 1.8rem;
  text-align: center;

  margin-top: 20px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  font-size: 1.8rem;
  color: #fff;
  background-color: #070707;
  text-decoration: none;
  border-radius: 30px;
  padding: 12px 30px;

  cursor: pointer;

  margin-top: 40px;
}

.links {
  display: flex;

  margin-top: 90px;
  width: 40%;
  justify-content: space-between;

  padding-left: 0;
}

.item {
  width: 40px;
  height: 40px;
}

.info {
  font-size: 1.4rem;
  color: #828282;

  margin-top: 45px;
  margin-bottom: 50px;
  text-align: center;
}

p {
  margin: 0px 0px;
}

@media (max-width: 500px) {
  .links {
    flex-direction: column;
    align-items: center;
  }

  .item {
    margin-bottom: 40px;
  }

  .info {
    font-size: 1.8rem;
  }
}
